.menu {
    background-color: $navbar_color;
    
}
.menu_container {

    header {
        padding-top:30px;
        color:$gold_color;
        text-align: center;

        h2 {
            font-family: $secondaty_font;
            font-size: 5rem;
            letter-spacing: 2px;
            font-weight: 500;
        }
        h1 {
            font-size: 2rem;
            letter-spacing: 2px;
            color: $secondary_color;
            font-weight: 900;
            margin-top:-40px;
        }

        p {
            margin-bottom: 20px;
            text-transform: capitalize;
        }
        .menu_navbar {
            display: flex;
            justify-content: center;
            margin-bottom: 15px;
            
            button {
                padding:10px;
                background-color: transparent;
                color:white;
                font-weight: 800;
                font-size: 1.2rem;
                text-transform: capitalize;
                color:$gold_color;
                
                &:hover {
                    background-color: $gold_color;
                    color:white;
                }
            }
        }
    }
}

.menu_foods {
    background-color: white;
    padding-top: 40px;
    
  
    figure {
        display: flex;
        margin-bottom: 20px;
        img {
            
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            
             
            &:hover {
                transform: scale(1.2)
            }
        }
        figcaption {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            h3 {
                text-transform: capitalize;
                font-weight: 600;
            }
           
            p {
                color:#5B5C5C;
            }
            .price {
                display: flex;
                align-items: center;

                hr {
                    flex:1
                }
                p {
                    margin-left: 10px;
                    color:$gold_color;
                }
            }
        }
    }
}

@media screen and (min-width: 800px) {
    .menu_foods {
        max-width: 90%;
        margin:auto;
        border-radius: 4px;
        .foods_container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
    }
}

// .img_container {
//     width: 120px;
//     height: 120px;
//     border-radius: 50%;
    
// }