$navbar_color:#292C2F;
$gold_color:#B98D37;
$text-color:#5B5C5C;
$secondary_color:red;


$main_font:  'Source Sans Pro', sans-serif;
$secondaty_font: 'Herr Von Muellerhoff', cursive;
$body_font: 'Cabin', sans-serif;
$main_font_color_dark: #252525;
$secondary_font_color: #c59d5f;
$body_font_color: #515151;